---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<nav
  class={`flex items-center justify-between px-6 py-5 md:px-12 md:py-8 ${className ?? ""}`}
>
  <a href="/" class="text-base font-semibold tracking-wide md:text-lg">
    Cheng Dai
  </a>
  <div class="flex items-center gap-4 text-xs md:gap-8 md:text-sm">
    <a
      href="/"
      class="pb-0.5 transition-all hover:border-b hover:border-current"
      >Projects</a
    >
    <a
      href="/about"
      class="pb-0.5 transition-all hover:border-b hover:border-current">About</a
    >
  </div>
</nav>
