---
import { Image } from "astro:assets";
import DepartureTime from "../../images/departure_time.png";
---
<a
  href="https://depature-time.vercel.app"
  class="lg:row-span-2  bg-zinc-100 dark:bg-zinc-900  overflow-hidden duration-300 shadow-xl dark:shadow-dark  rounded-3xl p-8 2xl:p-12">
  <div class="-mr-24">
    <Image
      src={DepartureTime}
      alt="#_"
      class="rounded-2xl w-full lg:h-auto"
    />
  </div>
  <div class="mt-8">
    <div class="flex flex-wrap gap-6">
      <div
        class="flex items-center text-sm 2xl:text-xl font-medium text-zinc-950 dark:text-zinc-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="2.66em" height="1em" viewBox="0 0 512 193"><path fill="#3d3d3d" d="m376.818 158.244l14.791-37.403h42.707l-20.267-56.739L439.397 0L512 192.769h-53.542l-12.407-34.525z"/><path fill="#5a0fc8" d="M331.14 192.77L408.863 0l-51.528.001l-53.167 124.571L266.361.001h-39.607l-40.595 124.571l-28.629-56.764l-25.907 79.817l26.304 45.145h50.71L245.32 81.056l34.976 111.714z"/><path fill="#3d3d3d" d="M48.912 126.595H80.65q14.421 0 25.683-3.22l8.208-25.287l22.94-70.674a56.5 56.5 0 0 0-5.986-7.858Q113.827 0 79.795 0H0v192.77h48.912zm42.01-82.247q6.901 6.945 6.901 18.59q0 11.733-6.069 18.611q-6.653 7.642-24.5 7.642H48.912V37.404h18.476q16.635 0 23.534 6.945"/></svg>
       
      </div>
      <div
        class="flex items-center text-sm 2xl:text-xl font-medium text-zinc-950 dark:text-zinc-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 128 128"><g fill="#61dafb"><circle cx="64" cy="64" r="11.4"/><path d="M107.3 45.2c-2.2-.8-4.5-1.6-6.9-2.3c.6-2.4 1.1-4.8 1.5-7.1c2.1-13.2-.2-22.5-6.6-26.1c-1.9-1.1-4-1.6-6.4-1.6c-7 0-15.9 5.2-24.9 13.9c-9-8.7-17.9-13.9-24.9-13.9c-2.4 0-4.5.5-6.4 1.6c-6.4 3.7-8.7 13-6.6 26.1c.4 2.3.9 4.7 1.5 7.1c-2.4.7-4.7 1.4-6.9 2.3C8.2 50 1.4 56.6 1.4 64s6.9 14 19.3 18.8c2.2.8 4.5 1.6 6.9 2.3c-.6 2.4-1.1 4.8-1.5 7.1c-2.1 13.2.2 22.5 6.6 26.1c1.9 1.1 4 1.6 6.4 1.6c7.1 0 16-5.2 24.9-13.9c9 8.7 17.9 13.9 24.9 13.9c2.4 0 4.5-.5 6.4-1.6c6.4-3.7 8.7-13 6.6-26.1c-.4-2.3-.9-4.7-1.5-7.1c2.4-.7 4.7-1.4 6.9-2.3c12.5-4.8 19.3-11.4 19.3-18.8s-6.8-14-19.3-18.8M92.5 14.7c4.1 2.4 5.5 9.8 3.8 20.3c-.3 2.1-.8 4.3-1.4 6.6c-5.2-1.2-10.7-2-16.5-2.5c-3.4-4.8-6.9-9.1-10.4-13c7.4-7.3 14.9-12.3 21-12.3c1.3 0 2.5.3 3.5.9M81.3 74c-1.8 3.2-3.9 6.4-6.1 9.6c-3.7.3-7.4.4-11.2.4c-3.9 0-7.6-.1-11.2-.4q-3.3-4.8-6-9.6c-1.9-3.3-3.7-6.7-5.3-10c1.6-3.3 3.4-6.7 5.3-10c1.8-3.2 3.9-6.4 6.1-9.6c3.7-.3 7.4-.4 11.2-.4c3.9 0 7.6.1 11.2.4q3.3 4.8 6 9.6c1.9 3.3 3.7 6.7 5.3 10c-1.7 3.3-3.4 6.6-5.3 10m8.3-3.3c1.5 3.5 2.7 6.9 3.8 10.3c-3.4.8-7 1.4-10.8 1.9c1.2-1.9 2.5-3.9 3.6-6c1.2-2.1 2.3-4.2 3.4-6.2M64 97.8c-2.4-2.6-4.7-5.4-6.9-8.3c2.3.1 4.6.2 6.9.2s4.6-.1 6.9-.2c-2.2 2.9-4.5 5.7-6.9 8.3m-18.6-15c-3.8-.5-7.4-1.1-10.8-1.9c1.1-3.3 2.3-6.8 3.8-10.3c1.1 2 2.2 4.1 3.4 6.1c1.2 2.2 2.4 4.1 3.6 6.1m-7-25.5c-1.5-3.5-2.7-6.9-3.8-10.3c3.4-.8 7-1.4 10.8-1.9c-1.2 1.9-2.5 3.9-3.6 6c-1.2 2.1-2.3 4.2-3.4 6.2M64 30.2c2.4 2.6 4.7 5.4 6.9 8.3c-2.3-.1-4.6-.2-6.9-.2s-4.6.1-6.9.2c2.2-2.9 4.5-5.7 6.9-8.3m22.2 21l-3.6-6c3.8.5 7.4 1.1 10.8 1.9c-1.1 3.3-2.3 6.8-3.8 10.3c-1.1-2.1-2.2-4.2-3.4-6.2M31.7 35c-1.7-10.5-.3-17.9 3.8-20.3c1-.6 2.2-.9 3.5-.9c6 0 13.5 4.9 21 12.3c-3.5 3.8-7 8.2-10.4 13c-5.8.5-11.3 1.4-16.5 2.5c-.6-2.3-1-4.5-1.4-6.6M7 64c0-4.7 5.7-9.7 15.7-13.4c2-.8 4.2-1.5 6.4-2.1c1.6 5 3.6 10.3 6 15.6c-2.4 5.3-4.5 10.5-6 15.5C15.3 75.6 7 69.6 7 64m28.5 49.3c-4.1-2.4-5.5-9.8-3.8-20.3c.3-2.1.8-4.3 1.4-6.6c5.2 1.2 10.7 2 16.5 2.5c3.4 4.8 6.9 9.1 10.4 13c-7.4 7.3-14.9 12.3-21 12.3c-1.3 0-2.5-.3-3.5-.9M96.3 93c1.7 10.5.3 17.9-3.8 20.3c-1 .6-2.2.9-3.5.9c-6 0-13.5-4.9-21-12.3c3.5-3.8 7-8.2 10.4-13c5.8-.5 11.3-1.4 16.5-2.5c.6 2.3 1 4.5 1.4 6.6m9-15.6c-2 .8-4.2 1.5-6.4 2.1c-1.6-5-3.6-10.3-6-15.6c2.4-5.3 4.5-10.5 6-15.5c13.8 4 22.1 10 22.1 15.6c0 4.7-5.8 9.7-15.7 13.4"/></g></svg>
        <span class="ml-1.5">React</span>
      </div>
      <div
        class="flex items-center text-sm 2xl:text-xl font-medium text-zinc-950 dark:text-zinc-100">
      
        
        <svg
          viewBox="0 0 256 154"
          aria-label="Tailwind CSS"
          class="flex-none size-4 2xl:size-8 stroke-current"
          width="64"
          height="64"
          astro-icon="logos:tailwindcss-icon">
          <path
            fill="#38bdf9"
            d="M128 0C93.867 0 72.533 17.067 64 51.2 76.8 34.133 91.733 27.733 108.8 32c9.737 2.434 16.697 9.499 24.401 17.318C145.751 62.057 160.275 76.8 192 76.8c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C174.249 14.743 159.725 0 128 0zM64 76.8C29.867 76.8 8.533 93.867 0 128c12.8-17.067 27.733-23.467 44.8-19.2 9.737 2.434 16.697 9.499 24.401 17.318C81.751 138.857 96.275 153.6 128 153.6c34.133 0 55.467-17.067 64-51.2-12.8 17.067-27.733 23.467-44.8 19.2-9.737-2.434-16.697-9.499-24.401-17.318C110.249 91.543 95.725 76.8 64 76.8z"
          ></path>
        </svg>
        <span class="ml-1.5"> Tailwind CSS</span>
      </div>
    </div>
    <p
      class="text-2xl font-medium text-zinc-950 dark:text-zinc-100 lg:text-4xl mt-6">
      Departure Time
    </p>
    <!-- Introduction -->
    <p class="text-xl text-zinc-500 dark:text-zinc-300 2xl:text-2xl mt-6">
      A progressive web app designed for the SL public transport system in Stockholm, commuters can add to their mobile home screen to check bus and train departure times.
      <br />
      <br />
      Built with React and styled using Tailwind CSS, the app is deployed on Vercel.
    </p>
  </div>
</a>
