---
import Intro from "./Intro.astro";

import EasySL from "./EasySL.astro";
import ResaleTorg from "./ResaleTorg.astro";
import KeyMotion from "./KeyMotion.astro";
---

<section>
  <div class="p-4">
    <div
      class="grid grid-cols-1 gap-4 list-none lg:grid-cols-3 lg:grid-rows-1 xl:grid-cols-4 xl:grid-rows-1">
      <!----
    // Keep the cards in this order to avoid breaking the layout.
    //
    // To adjust the card order, modify the layout within the component itself.
    ---->
      <Intro />
    
      
      <EasySL />
      <ResaleTorg />
      <KeyMotion />
      <!-- <Resume /> -->
      
    
      <!-- <Newsletter /> -->
      <!-- <Testimonials /> -->
      <!-- <Outro /> -->
    </div>
  </div>
</section>
