---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="m-0 flex min-h-screen items-center justify-center bg-bg p-4 font-sans text-ink antialiased md:p-10">
    <slot />
  </body>
</html>
