---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-[#ebe6de]">
    <div class="mx-auto max-w-[1400px]">
      <slot />
    </div>
  </body>
</html>
